snippet fora1 "for (e : v) .. (for all, one line)"
for (${2:auto} ${3:&${4:element}} : ${1:container})
    ${0:/* code */}
endsnippet

snippet fora "for (e : v) .. (for all)"
for (${2:auto} ${3:&${4:element}} : ${1:container})
{
    ${0:/* code */}
}
endsnippet

# vim:ft=snippets:
